@model List<Message>;
@{
}
<a class="btn btn-lg" asp-action="Exit">Exit</a>
<div class="center">
    <div class=".chat-panel">
        @foreach(var item in @Model)
        {
            <p>@item.UserId --> @item.Text : <i>@item.DateCreate</i></p>
        }
    </div>
</div>

<style> 
    .chat-panel {
        height: 300px;
        overflow-y: scroll;
        border: 1px solid black;
        padding: 10px;
    }
    span{
        color: red;
    }
    .text-center{
        text-align: center;
    }
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>